{% extends "base.html" %}
{% block title %}The Truth About {{subject}} - Verified Facts{% endblock %}
{% block content %}
<div class="hero">
  <p class="title">The Truth About {{subject}}</p>
<div id="results" class="results">
  {% for line in text %}
    <p>
    {% if imgpos == loop.index0 %}
      {% if imgpos == 0 %}
        <img src="{{imgurl}}" style="height:100px;padding:10px;float:left;"/>
      {% else %}
        <img src="{{imgurl}}" style="height:100px;padding:10px;float:right;"/>
      {% endif %}
    {% endif %}

    {{line|safe}}
    </p>
  {% endfor %}
  <div class="citations">
    Sources:
    <ol>
      {% for citation in citations %}
      <li>{{citation}}</li>
      {% endfor %}
    </ol>
  </div>
  <div class="share">
    Share: <span class="permalink"><a href="{{permalink}}">{{permalink}}</a></span>
    <div class="share-buttons">
  <div style="margin:0" class="fb-like" data-href="http://verifiedfacts.org" data-send="false" data-layout="button_count" data-show-faces="false"></div>
  <a style="font-size:10px;" href="https://twitter.com/share" data-url="{{permalink}}" data-counturl="http://verifiedfacts.org" class="twitter-share-button" data-lang="en">Tweet</a>
  </div>
  </div>
</div>
{% endblock %}

{# SOCIAL STUFF BELOW #}

{% block scripts %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=230286373664292";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script>
  window.onload = function() { mixpanel.track('conspiracy'); }
</script>
{% endblock %}
