{% extends "base.html" %}
{% block title %}Report Inaccuracy - Verified Facts{% endblock %}
{% block content %}
<div class="hero">
  <p class="title">Report an Inaccuracy</p>
<div id="results" class="results">
  <p>
  We sincerely regret any errors.  We research every article meticulously and use only strongly-verified facts when we compile information.  If you spot an inaccuracy, please email:
<br><br>
 <a href="mailto:verified.facts.contact@gmail.com">verified.facts.contact@gmail.com</a>
  </p>
</div>
{% endblock %}
