{% extends "base.html" %}
{% block title %}The Fact-Checking Process - Verified Facts{% endblock %}
{% block content %}
<div class="hero">
  <p class="title">The Fact-Checking Process</p>
<div id="results" class="results">
  <p>
  All articles on this site are peer-reviewed and fact-checked by a third party organization.  Our full-time staff of 24 journalist strives to attain the highest degree of transparency and accuracy, which is why we provide full citations for our well-researched articles.  Verified Facts has been on CNN, Fox News, and was featured in the New York Times and Chicago Tribune.
  </p>
</div>
{% endblock %}
